
@font-face {
    font-family: 'Simple';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SfHambakneun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cafe24Dangdanghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JoseonBoldMyongjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SeoulHangang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SpokaHanSansNeo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'BonmyeongjoSourceHanSerif';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}


body
{
    background-color:rgb(248,241,223);
    margin:0;
    padding:0;
}

header 
{
    background-color:rgb(180,176,139);
    padding: 20px;
    top: 0;
    position:sticky;
    z-index: 1;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

nav a
{
    text-decoration: none;
    color:rgb(49, 55, 25);
    margin: 0 15px;
}

nav a:hover
{
color:rgb(248,241,223);
}

img 
{ /* 프로필용 이미지 */
    width:300px ;
    border-radius: 30px;
}

/* 카드용 이미지 */
.project-card img
{
    width: 100%;
}


.project-card
{
    background-color:rgb(204, 182, 150);
    max-width: 400px;
    margin: 60px;
    padding: 20px;
    display: inline-block;
    border-radius: 50px;
    transition: transform 0.7s;
}

.project-card:hover
{
box-shadow: 20px 10px 10px rgb(203, 178, 145);
transform: scale(1.03);

}

h2

{
text-align: center;
font-family: 'SfHambakneun';
margin-top: 30px;
color: rgb(49, 55, 25);
}


h1
{
font-family: 'SfHambakneun';
color:rgb(49, 55, 25);
}

h4
{
font-weight: bold;
font-size: 20px;
font-family: 'BonmyeongjoSourceHanSerif';
}

p
{
font-family: 'BonmyeongjoSourceHanSerif';
align-items: center;
}

section
{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
}

#contact
{
   background-color:rgb(180,176,139);
}